kubeshark:
  tap:
    docker:
      registry: docker.io/kubeshark
      tag: latest
  
  resources:
    limits:
      cpu: 750m
      memory: 1Gi
    requests:
      cpu: 50m
      memory: 50Mi
  
  frontend:
    service:
      type: ClusterIP
  
  persistentStorage: false
