kibana:
  enabled: true

  elasticsearchHosts: "http://elasticsearch-master:9200"

  replicas: 1

  resources:
    requests:
      cpu: 100m
      memory: 400Mi
    limits:
      cpu: 300m
      memory: 800Mi

  kibanaConfig:
    kibana.yml: |
      server.publicBaseUrl: "https://kibana-netfix.habdelazim.xyz"

