apiVersion: apps/v1
kind: Deployment
metadata:
  name: oauth2-proxy
  namespace: auth
  labels:
    app: oauth2-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: oauth2-proxy
  template:
    metadata:
      labels:
        app: oauth2-proxy
    spec:
      containers:
        - name: oauth2-proxy
          image: quay.io/oauth2-proxy/oauth2-proxy:v7.6.0
          imagePullPolicy: IfNotPresent
          args:
            - --http-address=0.0.0.0:4180
            - --provider=oidc
            - --scope=openid profile email
            - --oidc-issuer-url=https://auth-netfix.habdelazim.xyz/realms/master
            - --client-id=oauth2-proxy
            - --client-secret=$(OAUTH2_PROXY_CLIENT_SECRET)
            - --upstream=http://app-service.netfix-app.svc.cluster.local:80
            - --cookie-secret=$(OAUTH2_PROXY_COOKIE_SECRET)
            - --cookie-secure=true
            - --redirect-url=https://netfix.habdelazim.xyz/oauth2/callback
            - --ping-path=/ping
            - --skip-provider-button
            - --email-domain=*
            - --code-challenge-method=S256
            - --cookie-domain=.habdelazim.xyz
            - --whitelist-domain=.habdelazim.xyz
          env:
            - name: OAUTH2_PROXY_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: oauth2-proxy
                  key: OAUTH2_PROXY_CLIENT_SECRET
            - name: OAUTH2_PROXY_COOKIE_SECRET
              valueFrom:
                secretKeyRef:
                  name: oauth2-proxy
                  key: OAUTH2_PROXY_COOKIE_SECRET
          ports:
            - containerPort: 4180
              protocol: TCP
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi

