apiVersion: v1
kind: Service
metadata:
  name: app-service
  namespace: netfix-app
  labels:
    app: app
spec:
  type: ClusterIP
  selector:
    app: app
  ports:
    - name: http
      port: 80
      targetPort: 5000
      protocol: TCP

