replicas: 1

minimumMasterNodes: 1

resources:
  requests:
    cpu: 300m
    memory: 1.5Gi
  limits:
    cpu: 800m
    memory: 2Gi

volumeClaimTemplate:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 15Gi

