daemonset:
  enabled: true

filebeatConfig:
  filebeat.yml: |
    filebeat.inputs:
      - type: container
        paths:
          - /var/log/containers/*.log

    processors:
      - add_kubernetes_metadata: {}

    output.elasticsearch:
      hosts: ["http://elasticsearch-master:9200"]

