apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: auth
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: quay.io/keycloak/keycloak:24.0.1
          command:
            - /bin/bash
            - -c
          args:
            - |
              /opt/keycloak/bin/kc.sh build --db=postgres
              /opt/keycloak/bin/kc.sh start --optimized
          env:
            - name: KEYCLOAK_ADMIN
              valueFrom:
                secretKeyRef:
                  name: keycloak-admin
                  key: KEYCLOAK_ADMIN
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-admin
                  key: KEYCLOAK_ADMIN_PASSWORD
            - name: KC_PROXY
              value: edge
            - name: KC_HTTP_ENABLED
              value: "true"
            - name: KC_HOSTNAME
              value: auth-netflix.habdelazim.xyz
            - name: KC_HOSTNAME_STRICT_HTTPS
              value: "false"
          envFrom:
            - secretRef:
                name: keycloak-db
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /health/live
              port: 8080
            initialDelaySeconds: 120
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 8080
            initialDelaySeconds: 90
            periodSeconds: 10
