apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: auth
  labels:
    app: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: mfadl237/keycloak-netflix:1
          imagePullPolicy: Always

          command:
            - /opt/keycloak/bin/kc.sh
          args:
            - start

          ports:
            - containerPort: 8080

          env:
            # ===== Admin =====
            - name: KEYCLOAK_ADMIN
              valueFrom:
                secretKeyRef:
                  name: keycloak-admin
                  key: KEYCLOAK_ADMIN

            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-admin
                  key: KEYCLOAK_ADMIN_PASSWORD

            # ===== Database =====
            - name: KC_DB
              value: postgres

            #- name: KC_DB_URL_HOST
             # valueFrom:
              #  secretKeyRef:
                #  name: keycloak-db
                 # key: KC_DB_URL_HOST

            #- name: KC_DB_URL_PORT
             # valueFrom:
              #  secretKeyRef:
               #   name: keycloak-db
                #  key: KC_DB_URL_PORT

            #- name: KC_DB_URL_DATABASE
             # valueFrom:
              #  secretKeyRef:
               #   name: keycloak-db
                #  key: KC_DB_URL_DATABASE

            - name: KC_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: keycloak-db
                  key: KC_DB_USERNAME

            - name: KC_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-db
                  key: KC_DB_PASSWORD
            - name: KC_DB_URL
              valueFrom:
                secretKeyRef:
                  name: keycloak-db
                  key: KC_DB_URL


      #      - name: KC_DB_URL
       #       value: jdbc:postgresql://$(KC_DB_URL_HOST):$(KC_DB_URL_PORT)/$(KC_DB_URL_DATABASE)

            # ===== HTTP / Proxy =====
            - name: KC_HTTP_ENABLED
              value: "true"

            - name: KC_PROXY
              value: edge

            - name: KC_HOSTNAME
              value: auth-netfix.habdelazim.xyz

            - name: KC_HOSTNAME_STRICT
              value: "false"

            # ===== Health =====
            - name: KC_HEALTH_ENABLED
              value: "true"

          # ===== Probes (Management Port 9000) =====
          startupProbe:
            httpGet:
              path: /health/ready
              port: 9000
            failureThreshold: 90
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /health/live
              port: 9000
            initialDelaySeconds: 120
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /health/ready
              port: 9000
            initialDelaySeconds: 120
            periodSeconds: 10

          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "1"
              memory: "2Gi"

